biome frugivore degree histogram-1.png
combine all degree comparison figures-1.png
ecoregion frugivore degree histogram-1.png
histograms each category each ecoregion-1.png
histograms for decreasing and high risk frugivore degrees at biome-scale-1.png
histograms for low and high risk frugivore degrees-1.png
histograms of frugivore degrees-1.png
histograms to look at plant degree distributions-1.png
make ecoregion coextinction panel figure and save-1.png
model validation analysis 1-1.png
model validation analysis 2-1.png
